

body{
  background-color:#seagreen
}

.frame{
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #seagreen;
  color: #fff;
}

.center{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.down{
  position: relative;
  animation: down 1.6s ease-in infinite both;

}

.up{
  position: relative;
  animation: up 1.6s ease-in infinite both;
}

.squeeze{
  transform-origin: 50% 100%;
  animation: squeeze 1.6s ease-in infinite both;
}

.rotate-in{
  animation: rotate-in 1.6s ease-in infinite both;
}

.rotate-out{
  animation: rotate-out 1.6s ease-in infinite both;
}

.square{
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.shadow{
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: -2px;
  right: -2px;
  height: 1px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.26);
  animation:shadow 1.6s ease-in infinite both
}


@keyframes down {
  0%{
    transform: translateY(-100px);
  }

  20%, 100%{
    transform: translateY(0px);
  }
}

@keyframes up {
  0%, 75%{
    transform: translateY(0px);
  }

  100%{
    transform: translateY(-100px);
  }
}

@keyframes squeeze {
  0%, 4%{
    transform: scale(1);
  }

  45%{
    transform: scale(1.8, 0.4);
  }

  100%{
    transform: scale(1);
  }
}


@keyframes rotate-in {
  0%{
  transform:rotate(-135deg)
  }

  20%, 100%{
    transform:rotate(0deg);
  }
}


@keyframes rotate-out {
  0%, 80%{
  transform:rotate(0deg)
  }

  100%{
    transform:rotate(135deg);
  }
}

@keyframes shadow {
  0%, 100%{
    transform: scaleX(0.5);
  }

  45%, 50%{
    transform: scaleX(1.7);
  }
}
